# --- Main index (PyPI)
--index-url https://pypi.org/simple
# --- Add PyTorch CPU wheels as an extra index
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu

streamlit>=1.29.0
requests>=2.32.0
pillow>=11.0.0
sentence-transformers>=3.0.0
transformers>=4.37.0
